.footer{
    background-color: rgb(36, 31, 36);
    overflow: hidden;
    padding: 20px 10px;
    color: whitesmoke;
    position: sticky;
    top: 100%;
}
h1{
    font-weight: bold;
    font-size: 20px;
    color: wheat;
}
a{
    color: whitesmoke;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 18px;
}
a:hover{
    color: var(--secondary-color);
}
i{
    color: white;
    padding: 0px 10px;
}
i:hover{
    color: var(--secondary-color);
}
p{
    font-size: 12   px;
    color: wheat;
}